<template>
  <section class="post-list">
    <div class="container">
      <div class="posts__wrapper">
        <div class="posts-content">
          <postPreview
            v-for="post in posts" :key="post.id"
            :admin="admin"
            :post="post" />
        </div>
        <aside class="side-bar">
          <postPreview
            v-for="post in posts" :key="post.id"
            :admin="admin"
            :post="post" />
        </aside>
      </div>
    </div>
  </section>
</template>

<script>
import postPreview from '@/components/Blog/PostPreview.vue'
export default {
  components: { postPreview },
  props: {
    posts: {
      type: Array,
      required: true
    },
    admin: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss">
  .posts__wrapper {
    padding-top: 10px;
    display: flex;
  }
.post-content {
  width: 100%;
}
.side-bar {
  width: 50%;
}
</style>
