<template>
  <div class="post-preview">
    <nuxt-link :to="getLink" >
      <img src="@/assets/img/about.jpg" :alt="post.title">
      <div class="post-content">
        <h3 class="title">{{ post.title }}</h3>
        <p> {{ post.descr }} </p>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      required: true
    },
    admin: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    getLink () {
      return this.admin ? `/admin/${this.post.id}` : `/blog/${this.post.id}`
    }
  }
}
</script>

<style lang="scss">
.post-preview {
  padding: 16px;
  margin-bottom: 20px;
  background-color: #ffffff;
  margin-right: 20px;
  text-align: center;
  border-radius: 5px;
  min-height: 200px;
  a {
    display: flex;
  }
  img {
    max-width: 30%;
    min-height: 170px;
    margin-right: 20px;
  }
  .post-content {
    p {
      color: #999999;
    }
  }
}
</style>
