<template>
    <div class="footer">
        <div class="footer-wrapper">
            <div class="footer-date">
                <p class="footer-date-p">Дата заполнения</p>
                <div class="footer-date-block">
                    <p>15.01.2020</p>
                    <img src="../../../static/img/line-footer.png" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>

  export default {
    name: 'Checkbox',
  };

</script>
