<template>
  <div id="wrapper">
    <div class="wrapper-content">
      <section>
        <div class="container">
          <Control />
        </div>
      </section>
    </div>
  </div>
</template>

<script>
  import Control from './components/Control'

  export default {
    name: 'app',
    components: { Control },
  }
</script>
