<template>
  <div class="wrapper-content wrapper-content--fixed">
    <section>
      <div class="container">
        <table>
          <thead>
            <tr>
              <th @click="sort('name')">Name &#8595;</th>
              <th @click="sort('age')">Age &#8595;</th>
              <th @click="sort('gender')">Gender &#8595;</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in usersSort" :key="user.id">
              <td>
                <img :src="user.img" :alt="user.img">
                <span>{{ user.name }}</span>
              </td>
              <td>{{ user.age }}</td>
              <td> {{ user.gender }}</td>
            </tr>
          </tbody>
        </table>
        <p style="text-align: center">
          <span>
            debug: <b>sort</b>: {{ currentSort }}, <b>dir</b>: {{ currentSortDir }}
          </span>
          <br>
          <span> page: {{this.page.current}}, page: {{this.page.length}}</span>
        </p>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="button-list">
          <div class="btn btnPrimary" @click="prevPage"> &#8592; </div>
          <div class="btn btnPrimary" @click="nextPage"> &#8594; </div>
        </div>
      </div>
    </section>
  </div>
</template>

<!-- https://api.myjson.com/bins/rzgya -->
<script>
  import axios from 'axios'
  export default {
    data () {
      return {
        users: [],
        currentSort: 'name',
        currentSortDir: 'asc',
        page: {
          current: 1,
          length: 3
        }
      }
    },
    created () {
      axios
        .get('https://api.myjson.com/bins/rzgya')
        .then(response => {
          this.users = response.data
          // eslint-disable-next-line no-console
          console.log(response.data)
        })
      .catch(error => {
        // eslint-disable-next-line no-console
        console.log(error)
      })
    },
    computed: {
      usersSort () {
        // eslint-disable-next-line vue/no-side-effects-in-computed-properties
        return this.users.sort((a, b) => {
          // eslint-disable-next-line no-console
          console.log(a[this.currentSort] < b[this.currentSort])
          let mod = 1
          if (this.currentSortDir === 'desc') mod = -1
          if (a[this.currentSort] < b[this.currentSort]) return -1 * mod
          if (a[this.currentSort] > b[this.currentSort]) return mod
          return 0
        }).filter((row, index) => {
          let start = (this.page.current-1) * this.page.length
          let end = this.page.current * this.page.length
          if ( index >= start && index < end ) return true
        })
      }
    },
    methods: {
      sort (e) {
        if (e === this.currentSort) {
          this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc'
        }
        this.currentSort = e
      },
      prevPage () {
        if (this.page.current > 1) this.page.current-=1
      },
      nextPage () {
        if ( (this.page.current * this.page.length) < this.users.length ) this.page.current+=1

      }
    }
  }
</script>

<style lang="scss" scope>
  img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
  }
  .button-list {
    width: 100%;
    text-align: center;
    .btn {
      border-radius: 60px;
      margin: 0 20px;
    }
  }
</style>
