<template>
    <div class="header">
        <div class="header-wrapper">
            <div class="header-logo">
              <img src="../../../static/img/io.png" alt="logo" />
            </div>
            <div class="header-business">
              <img src="../../../static/img/business.png" alt="Дело" />
            </div>
        </div>
    </div>
</template>

<script>
    export default {
      name: 'Header',
    };
</script>
