<template>
  <div class="javascriptSkill">
    <div class="javascriptSkill-wrapper">
      <div class="javascriptSkill-title">
        <p>Уровень владения JavaScript</p>
      </div>
      <div class="javascriptSkill-slider">
        <div class="javascriptSkill-slider-line" >
          <img src="../../../static/img/line-slider.png" alt="">
        </div>
        <div class="javascriptSkill-slider-wrapper-panel">
          <template v-for="skill in skills">
            <div class="javascriptSkill-slider-wrapper">
              <div class="javascriptSkill-slider-wrapper_img">
                <img v-if="skill.isActive" src="../../../static/img/arrow.png" alt="">
              </div>
              <label class="javascriptSkill_radio">
                <input
                  v-on:click="click"
                  v-on:change="onChange"
                  type="radio"
                  :value="skill.count"
                  v-model="selected"
                >
                {{skill.name}}
              </label>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
      name: 'Slider',
      data() {
        return {
          skills: [
            { name: 'Не Владею', count: 0, isActive: false },
            { name: 'Использую готовые решения', count: 1, isActive: false },
            { name: 'Использую готовые решения и умею их переделывать', count: 2, isActive: false },
            { name: 'Пишу сложный JS с нуля', count: 3, isActive: true },
          ],
          selected: 3,
        };
      },
      methods: {
        click(e) {
          if (e.target.value === this.selected.toString()) {
            this.skills[e.target.value].isActive = true;
          } else {
            this.skills[e.target.value].isActive = true;
            this.skills[this.selected].isActive = false;
          }
          // console.log({
          //   name: this.skills[e.target.value].name,
          //   value: this.skills[e.target.value].count,
          // });
        },
        onChange(e) {
          // eslint-disable-next-line no-console
          console.log(this);
          // eslint-disable-next-line no-console
          console.log(e);
        },
      },
    };
</script>
