.javascriptSkill {
  &-wrapper {
    padding: 0 170px;
  }
  &-title {
    p {
      font-size: 20px;
      font-weight: bold;
    }
  }
  &-slider {
    &-line {
      height: 40px;
      img {
        width: 100%;
      }
    }
    &-wrapper {
      display: block;
      width: 100%;

      &-panel {
        display: flex;

        div:nth-child(1) {
          width: 70%;
          margin-left: 6px;
        }
        div:nth-child(2) {
          width: 106%;
        }
        div:nth-child(3) {
          width: 80%;
        }
        div:nth-child(4) {
          width: 106%;
        }
        div:nth-child(4) {
          text-align: end;
          img {
            position: absolute;
            right: -83px;
          }
        }
      }
      &_img {
        position: relative;
        left: -13px;
        top: -30px;
        height: 15px;
        img {
          display: block;
        }
      }
      label:first-child  {
        height: 0px;
        width: 176px;
      }
    }
  }
  &_radio {
    display: block;
    font-size: 12px;
    position: relative;
    top: -25px;
    font-weight: bold;
    padding-top: 30px;
  }
}
input[type='radio'] {
display: none;
}


