<template>
  <modal
    title="Second modal with form"
    @close="$emit('close')">
    <!-- body -->
    <div slot="body">
      <form @submit.prevent="onSubmit">

        <!-- name-->
        <div class="form-item" :class="{ errorInput: $v.name.$error }">
          <label>Name:</label>
          <p class="errorText" v-if="!$v.name.required"><a href="/">Filed is required!</a></p>
          <p class="errorText" v-if="!$v.name.minLength"><a href="/">Name must have at least {{ $v.name.$params.minLength.min }} !</a></p>
          <input
            v-model="name"
            :class="{ error: $v.name.$error }"
            @change="$v.name.$touch()"
          >
        </div>

        <!-- email-->
        <div class="form-item" :class="{ errorInput: $v.email.$error }">
          <label>Email:</label>
          <p class="errorText" v-if="!$v.email.required"><a href="/">Filed is required!</a></p>
          <p class="errorText" v-if="!$v.email.email"><a href="/">Email is not correct!</a></p>
          <input
            v-model="email"
            :class="{ error: $v.email.$error }"
            @change="$v.email.$touch()"
          >
        </div>
        <button class="btn btnPrimary">Submit</button>
      </form>
    </div>
  </modal>
</template>

<script>

  import { required, minLength, email } from 'vuelidate/lib/validators'

  import modal from '@/components/UI/Modal.vue'
  export default {
    components: { modal },
    data () {
      return {
        email: '',
        name: '',
      }
    },
    validations: {
      name: {
        required,
        minLength: minLength(4)
      },
      email: {
        required,
        email
      }
    },
    methods: {
      onSubmit () {
        this.$v.$touch()
        if (!this.$v.$invalid) {
          const user = {
            name: this.name,
            email: this.email
          }
          confirm(user)
          this.name = ''
          this.email = ''
          this.$v.$reset()
          this.$emit('close')
        }

      }
    }
  }
</script>

<style lang="scss" scoped>
  .form-item .errorText {
    display: none;
    margin-bottom: 8px;
    font-size: 13.4px;
    color: #de4040;
  }
  .form-item {
    &.errorInput .errorText {
      display: block;
    }
  }

  input.error {
    border-color: #de4040;
  }
</style>
