<template>
    <div class="list">
        <ul class="list-wrapper">
            <li class="list-item">
                <p class="list-item-p">Полное ФИО</p>
                <div class="list-item-block">
                    <p>Обухов Александр Вячеславович</p>
                    <img src="../../../static/img/line.png" alt="line" />
                </div>
            </li>
            <li class="list-item">
                <p class="list-item-p">Год Рождения</p>
                <div class="list-item-block">
                    <p>1985</p>
                    <img src="../../../static/img/line.png" alt="line" />
                </div>
            <li class="list-item">
                <p class="list-item-p">Место Жительства</p>
                <div class="list-item-block">
                    <p>г. Герой Москва</p>
                    <img src="../../../static/img/line.png" alt="line" />
                </div>
            </li>
            <li class="list-item">
                <p class="list-item-p">Скайп</p>
                <div class="list-item-block">
                    <p>alexobukhov1</p>
                    <img src="../../../static/img/line.png" alt="line" />
                </div>
            </li>
            <li class="list-item">
                <p class="list-item-p">Почта</p>
                <div class="list-item-block">
                    <p>alexobukhov@hotmail.com</p>
                    <img src="../../../static/img/line.png" alt="line" />
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
      name: 'List',
    };
</script>
