.list {
  &-wrapper {
    display: block;
    padding: 30px 170px;
  }
  &-item {
    display: flex;
    &-block {
      display: block;
      width: 100%;
      p {
        font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
        font-size: 30px;
        padding: 0 21px;
        line-height: 0;
        white-space: pre;
        margin-bottom: 0;
      }
      img {
        width: 100%;
      }
    }

    &-p {
      font-size: 20px;
      font-weight: bold;
      white-space: pre;
      margin-right: 15px;
      line-height: 35px;
    }
  }
}
