<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue"></script>
    <title>Hello</title>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
    </div>

    <script>
        var app = new Vue({
          el: '#app',
          data: {
            title: 'Vue Init'
          }
        })
    </script>

</body>
</html>
