<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue"></script>
    <title>Hello</title>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <div v-if="show">
            <p>Content</p>
        </div>
        <button @click="show = !show">Show Content</button>
    </div>

    <script>
        var app = new Vue({
          el: '#app',
          data: {
            title: 'Inputs',
            name: '',
            email: '',
            show: false,
            user: {
              name: 'Grof',
              email: 'info@email.com'
            }
          },
          computed: {
            toLower() {
                return this.name.toLowerCase()
            }
          },
          methods: {
            getText () {
              console.log(`This text is ${this.name}`)
            }
          }
        })
    </script>

</body>
</html>
