<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue"></script>
    <title>Hello</title>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <input v-model="name" type="text">
        <input v-model="email" type="email">
        <button>Submit</button>
    </div>

    <script>
        var app = new Vue({
          el: '#app',
          data: {
            title: 'Inputs',
            name: '',
            email: ''
          }
        })
    </script>

</body>
</html>
