<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue"></script>
    <title>Hello</title>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <input v-model="name" type="text">
        <input v-model="email" type="email">
        <button @click="getText">Submit</button>

        {{ toLower }}
    </div>

    <script>
        var app = new Vue({
          el: '#app',
          data: {
            title: 'Inputs',
            name: '',
            email: ''
          },
          computed: {
            toLower() {
                return this.name.toLowerCase()
            }
          },
          methods: {
            getText () {
              console.log(`This text is ${this.name}`)
            }
          }
        })
    </script>

</body>
</html>
