<template>
<div class="wrapper-content wrapper-content--fixed">
  <section>
    <div class="container">

      <!-- Search -->
      <search
        :value="search"
        palceholder="Type username..."
        @search="search = $event"
      />
      <button class="btn btnPrimary" @click="getRepos">Search</button>

      <div class="repos__wrapper" v-if="repos">
        <div class="repos-item" v-for="repo in repos" :key="repo.id">
          <div class="repos-info">
            <a class="link" target="_blank" :href="repo.html_url"> {{ repo.name }} </a>
            <span> {{ repo.stargazers_count }} ⭐ </span>
          </div>
        </div>
      </div>
      <div class="repos-error" v-if="error">
        Такого пользователя нету!
      </div>
    </div>
  </section>
</div>
</template>

<script>

  import search from '@/components/Search'

  import axios from 'axios'

  export default {
    components: {
      search
    },
    data () {
      return {
        search: '',
        error: null,
        repos: null
      }
    },
    methods: {
      getRepos () {
        axios.get(`https://api.github.com/users/${this.search}/repos`)
          .then( (res) => {
            this.repos = res.data
            this.error = false
          })
            .catch( (res) => {
              this.error = res
              this.repos = false
           })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  button {
    margin-top: 40px;
  }

  .repos-error {
    margin-top: 40px;
  }

  .repos__wrapper {
    width:400px;
    margin: 30px 0;
  }
  .repos-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #dbdbdb;
  }
</style>
