<template>
  <section>
    <div class="container">
      <h1>{{ title }}</h1>
      <img src="assets/img/logo.png" :alt="message" />
      <p>{{ message }}</p>
    </div>
  </section>
</template>

<script>

export default {
  data() {
    return {
      message: "Example Vue component",
      title: 'Webpack Template'
    };
  }
};
</script>

<style lang="scss" scoped>
.container {
  text-align: center;
}
img {
  max-width: 200px;
  margin: 10px;
}
</style>
