body {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0!important;

  li {
    list-style: none;
  }
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-image: url("../../static/img/delo_nomer.png");
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
