.checkbox {
  &-wrapper {
    padding: 0px 170px;
  }
  &-title {
    p:first-child {
      font-size: 20px;
      font-weight: bold;
    }
    p:last-child {
      font-size: 14px;
      color: #3d3d3d;
    }
  }
  &-logo {
    margin-bottom: 40px;
  }
  &-form-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
  }
}
//border: 1px solid #4c204e;
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("../../../static/img/check.png")!important;
}

.custom-checkbox .custom-control-label::before {
border-radius: 0.2rem!important;
}

.custom-control-input:checked ~ .custom-control-label::before {
border-color: #4c204e!important;
background-color: unset!important;
}

.custom-control-label::after {
  top: -0.5rem !important;
  left: -1.5rem !important;
  width: 1.6rem!important;
  height: 1.8rem!important;
  background: no-repeat 0% / 69% 76% !important
}

