<template>
    <div class="checkbox">
        <div class="checkbox-wrapper">
            <div class="checkbox-title">
                <p>Расскажите о себе чекбоксами</p>
                <p>Отметьте чекбоксами пункты, которые соответсвуют вашим скиллам. Отсутствие опыта не означает,
                    что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи,
                    с которыми гарантировано будете справляться.</p>
            </div>
            <div class="checkbox-form-group">
                <div class="checkbox-form-item">
                    <b-form-group>
                        <b-form-checkbox
                                v-for="option in options1"
                                v-model="selected"
                                @change="toggleAll"
                                :key="option.value"
                                :value="option.value"
                                name="flavour-3a"
                        >
                            {{ option.text }}
                        </b-form-checkbox>
                    </b-form-group>
                    <b-form-group>
                        <b-form-checkbox
                                v-for="option in options2"
                                v-model="selected"
                                :key="option.value"
                                :value="option.value"
                                name="flavour-3a"
                        >
                            {{ option.text }}
                        </b-form-checkbox>
                    </b-form-group>
                    <b-form-group>
                        <b-form-checkbox
                                v-for="option in options3"
                                v-model="selected"
                                :key="option.value"
                                :value="option.value"
                                name="flavour-3a"
                        >
                            {{ option.text }}
                        </b-form-checkbox>
                    </b-form-group>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
      name: 'Checkbox',
      data() {
        return {
          selected: ['БЭМ', 'jQuery', 'HAML', 'SASS', 'LESS', 'Jade', 'Stylus', 'Angular', 'layout', 'Adaptive'],
          options1: [
            { text: 'Методология БЭМ', value: 'БЭМ', disabled: false },
            { text: 'jQuery', value: 'jQuery' },
            { text: 'HAML', value: 'HAML' },
            { text: 'SASS', value: 'SASS' },
          ],
          options2: [
            { text: 'LESS', value: 'LESS' },
            { text: 'Jade', value: 'Jade' },
            { text: 'Stylus', value: 'Stylus' },
          ],
          options3: [
            { text: 'Знаю(изучаю) Angular', value: 'Angular' },
            { text: 'Верстка рассылок', value: 'layout' },
            { text: 'Адаптивная верстка', value: 'Adaptive' },
          ],
        };
      },
    };
</script>
