<template>
  <div class="wrapper-content wrapper-content--fixed">
    <section>
      <div class="container">
        <h1>{{message}}</h1>
        <input type="text" v-model="message">
        <button class="btn btnPrimary" @click="setMessage">Click</button>
        <p>{{ message }}</p>
      </div>
    </section>
  </div>
</template>


<script>
  export default {
    data () {
      return {
        message: null
      }
    },
    computed: {
      getMessage () {
        return this.$store.getters.getMessage
      }
    },
    methods: {
      setMessage () {
        this.$store.dispatch('setMessage', this.message)
      }
    }
  }
</script>
