<template>
    <div class="message">
        <div class="message">
            <p>{{ message }}</p>
        </div>
    </div>
</template>

<script>
export default {
  name: 'message',
    props: {
      message: {
        type: String,
        required: true,
      }
  }
}
</script>

<style lang="scss" scoped>
    .message {
        text-align: center;
    }
    p {
        color: #26de81;
    }
</style>
