<template>
    <div class="new-note">
        <label>Title</label>
        <input v-model="note.title" type="text">
        <label>Description</label>
        <textarea v-model="note.descr"></textarea>
        <button class="btn btnPrimary" @click="addNote">Button</button>
    </div>
</template>

<script>
  export default {
    name: 'newNote',
    props: {
      note: {
        type: Object,
        required: true,
      },
    },
    methods: {
      addNote() {
        this.$emit('addNote', this.note)
      }
    }
  }
</script>

<style lang="scss" scoped>
    .new-note {
        text-align: center;
    }
</style>
