<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="wrapper">
          <Header/>
          <List/>
          <Checkbox/>
          <Slider/>
          <Footer/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import 'bootstrap/dist/css/bootstrap.css';
  import 'bootstrap-vue/dist/bootstrap-vue.css';

  import Header from './header/index';
  import './header/header.less';

  import List from './list-item/index';
  import './list-item/list-item.less';

  import Checkbox from './checkbox/index';
  import './checkbox/checkbox.less';

  import Slider from './javascript-skill/index';
  import './javascript-skill/javascript-skill.less';

  import Footer from './footer/index';
  import './footer/footer.less';

  export default {
    name: 'app',
    components: {
      Header,
      List,
      Checkbox,
      Slider,
      Footer,
    },
  };

</script>
